.vscode
__pycache__
lightning_logs
wandb
examples
checkpoint


pytorch-course/*/*/data/*
!pytorch-course/*/*/data/README.md
!pytorch-course/*/*/data/.gitkeep
pytorch-course/*/*/dataset/*
!pytorch-course/*/*/dataset/.gitkeep
!pytorch-course/*/*/dataset/*.txt
pytorch-course/*/*/datasets/*
!pytorch-course/*/*/datasets/.gitkeep
!pytorch-course/*/*/datasets/*.txt

# Ignore model files
*.pth
*.pkl
*.pt
*.ckpt
*.csv
*.log

# Ignore hydra logs
pytorch-course/*/*/*/hydra-template/logs/
