.vscode
__pycache__
lightning_logs

wandb/
examples/
pytorch-course/*/*/data/*
!pytorch-course/*/*/data/README.md
!pytorch-course/*/*/data/.gitkeep
pytorch-course/*/*/dataset/
!pytorch-course/*/*/dataset/*.txt

# Ignore model files
*.pth
*.pkl
*.pt
*.ckpt
*.csv
*.log

# Ignore hydra logs
pytorch-course/*/*/*/hydra-template/logs/