.vscode
__pycache__
lightning_logs
wandb
examples
checkpoint

**/dataset/**
!**/dataset/.gitkeep
!**/dataset/*.txt
!**/dataset/*.jpg

**/datasets/**
!**/datasets/.gitkeep
!**/datasets/*.txt
!**/datasets/*.jpg

# Ignore model files
*.pth
*.pkl
*.pt
*.ckpt
*.csv
*.log

# Ignore hydra logs
**/hydra-template/logs
